
logs
essential/loader
saves/world
essential
cosmetics
journeymap
modernfix/structureCacheV1
usernamecache.json
usercache.json
supportercache.json
servers.essential.dat
servers.dat_old
servers.dat
.mixin.out/class/net/minecraft/world/level/block
saves/testing
physics-mod-pro-v171i-forge-1.20.1.jar
.physics_mod_cache/cloth
crash-reports
cloth_local
local
ops.json
whitelist.json
screenshots
Distant_Horizons_server_data/VinnyCraft/81pchrgrav054@minecraft@@overworld
Distant_Horizons_server_data/VinnyCraft/81pchrgrav054@minecraft@@the_nether
Distant_Horizons_server_data/VinnyCraft
saves/test
config/jei/world/server/VinnyCraft_2c723544
config/jei/world/server/VinnyCraft_2c723544
config/jei/world/server/VinnyCraft_2c723544
